---
services:
  traefik:
    image: traefik
    container_name: traefik
    ports:
      - 80:80
      - 443:443
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashboard.entrypoints=https
      - traefik.http.routers.dashboard.rule=Host(`{{ proxy_dashboard_domain }}`)
      - traefik.http.routers.dashboard.service=api@internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro
      - ./letsencrypt:/letsencrypt
      - ./traefik.yml:/traefik.yml:ro
      - ./log:/log
    env_file: .env
    networks:
      - proxy

  x-ui:
    image: alireza7/x-ui
    container_name: x-ui
    hostname: ${XRAY_DASHBOARD}
    volumes:
      - ./db/:/etc/x-ui/
      - ./cert/:/root/cert/
    env_file: .env
    tty: true
    networks:
      - proxy
    restart: unless-stopped
    ports:
      - "54320:54320"
      - "54327:54327"
      - "54328:54328"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vpn.rule=Host(`{{ domain_name }}`)"
      - "traefik.http.services.vpn.loadbalancer.server.port=54321"


networks:
  proxy:
    name: proxy
