# использование пароля для аутентификации пользователей, ссылаясь на файл /etc/ocserv/ocpasswd для хранения паролей.
enable-auth = "plain[passwd=/etc/ocserv/ocpasswd]"

# аутентификации пользователей должны использоваться сертификаты.
auth = "certificate"

# путь к сертификату центра сертификации (CA), который используется для проверки пользовательских сертификатов
ca-cert = /etc/ocserv/ssl/ca-cert.pem

#  порт, на котором ocserv будет слушать входящие TCP соединения. Порт 443 обычно используется для HTTPS и часто пропускается через файерволы.
tcp-port = {{ ocserv_tcp_port }}

# под каким пользователем будет работать ocserv для повышения безопасности.
run-as-user = nobody

# под какой группой будет работать ocserv для повышения безопасности
run-as-group = daemon

# путь к файловому сокету, который используется для межпроцессного взаимодействия.
socket-file = /var/run/ocserv-socket

#  путь к файлу с полным цепочечным сертификатом сервера, выданным Let's Encrypt.
server-cert = /etc/letsencrypt/live/{{ ocserv_default_domain }}/fullchain.pem

#  путь к приватному ключу сервера, соответствующему сертификату.
server-key = /etc/letsencrypt/live/{{ ocserv_default_domain }}/privkey.pem

# путь к файлу параметров Диффи-Хеллмана для обеспечения безопасного обмена ключами.
dh-params = /etc/ocserv/dh.pem

# должны ли рабочие процессы быть изолированы друг от друга. Если false, изоляция отключена.
isolate-workers = false

# максимальное количество одновременных подключений от одного и того же пользователя.
max-same-clients = {{ ocserv_max_clients }}

# минимальное время в миллисекундах между запросами для защиты от DoS атак.
rate-limit-ms = 100

#  Время в секундах (7 дней), через которое статистика сервера сбрасывается.
server-stats-reset-time = 604800

#  интервал (в секундах) для отправки keepalive пакетов для поддержания соединения активным.
keepalive = 300

#  интервал (в секундах) для отправки Dead Peer Detection (DPD) пакетов для проверки активности клиента.
dpd = 90

#  интервал (в секундах) для отправки DPD пакетов для мобильных клиентов.
mobile-dpd = 1800

# Время в секундах ожидания перед переключением с UDP на TCP при проблемах с соединением.
switch-to-tcp-timeout = 25

# Определяет, должна ли быть включена автоматическая настройка MTU (Maximum Transmission Unit).
try-mtu-discovery = false

# Определяет OID (Object Identifier) для поиска имени пользователя в сертификате.
cert-user-oid = 0.9.2342.19200300.100.1.1

#  сжатие данных
compression = false

#  Устанавливает приоритеты TLS, запрещая устаревшие версии SSL и TLS (SSL 3.0, TLS 1.0, TLS 1.1)
tls-priorities = "NORMAL:%SERVER_PRECEDENCE:%COMPAT:-VERS-SSL3.0:-VERS-TLS1.0:-VERS-TLS1.1"

# Время (в секундах), через которое неуспешная попытка аутентификации будет завершена.
auth-timeout = 240

# Минимальное время (в секундах) до повторной аутентификации.
min-reauth-time = 300

#  Максимальное количество штрафных баллов перед блокировкой клиента.
max-ban-score = 80

#  Время (в секундах) до сброса бан-листа.
ban-reset-time = 1200

# Время (в секундах), через которое истекает срок действия cookie.
cookie-timeout = 300

# Запрещает роуминг между IP-адресами.
deny-roaming = false

# Время (в секундах) до переподключения с новым ключом (48 часов).
rekey-time = 172800

# Метод переподключения. В данном случае используется SSL.
rekey-method = ssl

# Путь к скрипту, который будет выполняться при подключении клиента
#connect-script = /etc/ocserv/connect-script

# Разрешает использование утилиты occtl для управления сервером.
use-occtl = true

pid-file = /var/run/ocserv.pid
log-level = 2

# Имя виртуального сетевого устройства, используемого для VPN.
device = vpns

#  Определяет, будут ли IP-адреса предсказуемыми для клиентов
predictable-ips = true

# Устанавливает домен
default-domain = {{ domain_name | default('vpn.example.com') }}

# Устанавливает подсеть IPv4 для VPN-клиентов.
ipv4-network = {{ ipv4-network }}

# Указывает DNS-сервер, который будет использоваться VPN-клиентами
dns = {{ ocserv_dns }}

#  Указывает, должен ли сервер пинговать IP-адреса перед выдачей их клиентам.
ping-leases = false

#  Устанавливает маршрут по умолчанию для всех клиентских подключений.
route = default

#  Путь к директории, содержащей индивидуальные конфигурации для каждого пользователя.
config-per-user = /etc/ocserv/config-per-user/

# Включает совместимость с Cisco AnyConnect клиентами.
cisco-client-compat = true

# Включает поддержку устаревшего DTLS (Datagram Transport Layer Security).
dtls-legacy = true

# Отключает совместимость с Cisco SVC клиентами.
cisco-svc-client-compat = false

#  Запрещает клиентам обходить VPN протокол
client-bypass-protocol = false

